/*All the vertical line will go from here*/
#line12 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line23 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line34 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line45 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line56 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1121 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line2131 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3141 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4151 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5161 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1222 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line2232 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3242 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4252 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5262 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1323 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line2333 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3343 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4353 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5363 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1424 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line2434 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3444 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line4454 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5464 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1525 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1525 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line2535 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line3545 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line4555 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line5565 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

/*All the horizontal lines start from here*/
#line111 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line221 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line331 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line441 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line551 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line661 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line1112 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line2122 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line3132 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4142 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5152 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line6162 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1213 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line2223 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3233 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4243 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5253 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line6263 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line1314 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line2324 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3334 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4344 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5354 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line6364 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1415 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line2425 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3435 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4445 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5455 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line6465 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

#line1516 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line2526 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line3536 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line4546 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line5556 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}
#line6566 {
  background-color: white;
  position: absolute;
  height: 2px;
  text-align: center;
  color: white;
}

.rot {
  transform: rotate(-180deg);
}
